html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: #1E90FF;
}

.background{
  width: 100%;
  height: auto;
}

.buttonUI {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#gameArea{
  /*transform: rotate(10deg);*/
}

/*show cover*/
#shadow {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  animation:shadow 4s ease-in-out;
}

@keyframes shadow {
  0% {z-index:5; background: rgba(0,0,0,0);}
  15% {z-index:5; background: rgba(0,0,0,0.8);}
  80% {z-index:5; background: rgba(0,0,0,0.8);}
  100% {z-index:0; background: rgba(0,0,0,0);}
}
/* ********* */

#status {
  position:relative;
  font-size: 32px;
  color: white;
  font-family: 'Lato', sans-serif;
  opacity: 0;
  animation: status 2.8s ease-out;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
}
@keyframes status {
  0% {z-index:6;left:50%;top:50%; opacity:0;}
  25% {z-index:6; left:50%;top:50%; opacity:1;}
  50% {}
  75% {z-index:6; left:50%;top:50%; opacity:0;}
  100% {z-index:0; left:50%;top:50%; }
  }

.r {
  border-right: 1pt solid white;
}
.b {
  border-bottom: 1pt solid white;
}
.l {
  border-left: 1pt solid white;
}
.t {
  border-top: 1pt solid white;
}

.myhover{
  background-color: blue;
  opacity: 0.5;
}

.cursor{
  cursor:url("https://cdn2.iconfinder.com/data/icons/selection-cursors-2/24/cursor-target-2-64.png") 20 25, auto;
  width: 50%;
  height:50%;
}


.moveArea{
  background-color: red;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.moveArea:hover
{
  opacity:1;
}
.missArea{
  background-color: black;
}
.shotArea{
  background-color: green;
}
.yourhover {
  background-color: red;
  opacity: 0.5;
}

=======
>>>>>>> yoav-zibin/gh-pages
.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
