<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>BattleShip</title>
  <meta name="description" content="TicTacToe game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>

<body ng-cloak>
<!-- weapon area -->
<button ng-click="game.turnMissle()">use Missle</button>
<div ng-if="game.crossMissle==true"> using missle </div>
<button ng-click="game.turnRadar()">use Radar</button>
<div ng-if="game.radar==true"> using Radar </div>

<!-- status area -->
<div ng-if="!game.firstMove()" id="status">
      <div ng-if="game.isMyTurn() && !game.isGameOver()">
        <text>Your turn</text>
      </div>
      <div ng-if="!game.isMyTurn() && !game.isGameOver()">
        <text>Opponent turn.</text>
      </div>
      <div ng-if="game.isGameOver()">
        <text><br/></text>
      </div>
    </div>
</div>
<div id="move" style="display:none">invalid move!</div>

<!-- game area -->
<div id="gameArea">
  <img class="background" src="css/ocean_b3.gif">
<!--  <div id="shadow" class="shadow"> </div> -->

  <div id="myBoard" ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7]"
      style="position:absolute; top:{{row * 12.5}}%; width:100%; height:12.5%;">
    <div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7]"
        style="position:absolute; top:0; left:{{col * 12.5}}%; width:12.5%; height:100%;"
        ng-class="{myhover:hover && !game.missArea(row,col), r: col < 10, b: row < 10, t: row < 1, l: col < 1,
        cursor:game.cursor(),
        moveArea:game.moveArea(row,col),
        missAreaFar:game.missArea(row,col) && game.distance(row,col) > 8 && game.previousShot(row,col),
        missAreaMiddle:game.missArea(row,col) && game.distance(row,col) < 8 && game.distance(row,col) > 3 && game.previousShot(row,col),
        missAreaNear:game.missArea(row,col) && game.distance(row,col) < 3 && game.previousShot(row,col),
        missArea:game.missArea(row,col),
        shotArea:game.shotArea(row,col),
        shootingArea:game.shootingArea(row,col)}"
        ng-mouseenter="hover=true"
        ng-mouseleave="hover=false"
        ng-click="game.cellClickedMy(row, col)"
        id="{{'my' + row + 'x' + col}}">
      <div style="width:100%; height: 100%"
          ng-class="{slowlyAppear: game.shouldSlowlyAppear(row, col)}"
          ng-if="game.shouldShowImage(row, col)">
          <img src="css/ship1.gif" width="100%" height="100%" position='absolute' margin='auto'>
          <class="ship" img src="css/ship.gif" width=100% height=100% position='absolute' margin='auto'>
      </div>
    </div>
  </div>
</div>

</body>
</html>
